.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-first-section {
  width: 100%;
  background-color: #282c34;
  height: calc(100vh - 100px);
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-first-section h1{
  max-width: 450px;
  margin: 0;
  color: white;
  font-size: 5em;
  text-align: left;
  padding-left: 100px;
  line-height: 1;
}

.App-first-section p {
  max-width: 300px;
  font-size: 1.5em;
  font-weight: 100;
  color: rgb(204, 204, 204);
  text-align: left;
  padding-left: 100px;
}

.App-first-section button {
  width: 200px;
  height: 70px;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 20px;
}

.App-second-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-second-section {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.items-second-section h2 {
  font-weight: bold;
}

.items-second-section p {
  text-align: left;
  font-size: 1.2em;
  font-weight: 100;
}